.wrapper {
    background-color: antiquewhite;
    height: 85px;
    width: 100%;
    .wrapper-header {
        padding-top: 25px;
        display: flex;
        display: block;
        margin-right: 15px;
        font-size: 22px;
        text-align: end;

        > a {
            color: black;
            margin-right: 25px;
            padding: 0 auto;
            transition: 0.5s;
            text-decoration: none;
        }
        > a:hover {
            color: rgb(9, 203, 142);
        }
    }

    .font-img {
        padding-top: -14px;
    }
}
