<div class="wrapper-product" *ngIf="product | async as p">
    <div>
        <div class="product-info" style="font-size: 18px; color: black">
            <p>Продукт - {{ p.productName }}</p>
            <p>
                Содержание калорий на 100 грамм - {{ p.productCalorie }}
            </p>
        </div>
        <div class="wrapper-btn" style="margin-top: 50px">
            <button class="btn" (click)="calculatedCalorieHandler()">
                Рассчитать количество грамм на день
            </button>
        </div>
    </div>
    <br/>
    <div *ngIf="calculatedCalories | async as calories">
        <p
            class="calorie"
            style="font-size: 18px; color: black; display: block"
            *ngIf="isShowAmountGrams && calories !== defaultCalorie"
        >
            Для восполнения суточной нормы калорий необходимо употребить
            {{ calories }} грамм
        </p>
    </div>
</div>

